<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<form method="post" id="main">
    <h1 class="title">타이틀</h1>
    <div class="writer=container">
        <label>
            <input name="nickname" placeholder="닉네임" type="text">
        </label>
        <label>
            <input name="password" placeholder="비밀번호" type="password">
        </label>
        <label>
            <input name="password-check" placeholder="비밀번호 확인" type="password">
        </label>
    </div>
    <label>
        <input name="title" placeholder="제목을 입력해 주세요." type="text">
    </label>
    <br>
    <label>
        <textarea name="content" cols="30" rows="10"></textarea>
    </label>
    <div>
        <a href="">취소</a>
        <button type="submit">글 쓰기</button>
    </div>

</form>

</body>
</html>